.c-button {
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: transparent;
  border-width: 0.125rem;
  border-style: solid;
  border-color: currentColor;
  color: var(--theme-color__primary);
  border-radius: 0.125em;
  text-transform: uppercase;
  cursor: pointer;
}

.c-button:focus {
  outline: none;
}
