html {
  font-size: 100%;
  font-family: var(--base-font-familily-stack);
}


h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

h1, h2 {
  text-indent: 0.0625rem;
  letter-spacing: -0.025rem;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.125rem;
}
