.u-mb-md { margin-bottom: 2rem !important; }
.u-mr-md { margin-right: 2rem !important; }

.u-mb-lg { margin-bottom: 3rem !important; }
.u-mr-lg { margin-right: 3rem !important; }

.u-mh-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.u-mv-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.u-fill {
  width: 100% !important;
  height: 100% !important;
}
.u-fill-width { width: 100% !important; }
.u-fill-height { height: 100% !important; }

.u-text-center { text-align: center !important; }

.u-block { display: block !important; }
