@import "./_variables.css";

@import "./_garnishes.css";
@import "./_typography.css";
@import "./_ui-components.css";
@import "./_utilities.css";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  overflow: auto;
  color: var(--color__nearWhite);
  background-color: var(--theme-color__page-background);
}

.main-content {
  max-width: 55rem;
  overflow: hidden;
}

.demo-dots-legend {
  width: 3rem;
  height: 3rem;
}

.demo-dots {
  color: var(--color__gray--300);
}

.demo-dots.demo-dots--bordered {
  border-width: 0.15rem;
  border-style: dashed;
  border-color: var(--theme-color__accent-1);
}

.content-section:not(:last-child) {
  margin-bottom: var(--spacing-lg);
}

.dot-set.dot-set--vertical {
  height: 20rem;
  overflow: hidden;
}

.dot-set.dot-set--horizontal .demo-dots:not(:last-child) {
  margin-bottom: var(--spacing-sm);
}

.dot-set.dot-set--vertical .demo-dots:not(:last-child) {
  margin-right: var(--spacing-md);
}

.page-headline {
  font-size: 3.5rem;
  line-height: 1;
}

.section-page-divider {
  margin-top: var(--spacing-xl);
  margin-bottom: var(--spacing-xl);
}

.c-snippet-view-toggler .c-snippet-view-toggler__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
