@import "./_variables.css";

@import "./_garnishes.css";
@import "./_typography.css";
@import "./_utilities.css";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color__nearWhite);
  background-color: var(--theme-color__page-background);
}

.demo-dots-legend {
  width: 3rem;
  height: 3rem;
}

.demo-dots {
  color: var(--color__gray--300);
  border-width: 0.2rem;
  border-style: dashed;
  border-color: var(--theme-color__accent-1);
}

.dot-set {
  margin-bottom: var(--spacing-lg);
}

.dot-set--vertical {
  height: 20rem;
}

.dot-set--horizontal .demo-dots:not(:last-child) {
  margin-bottom: var(--spacing-md);
}

.dot-set--vertical .demo-dots:not(:last-child) {
  margin-right: var(--spacing-md);
}

.page-headline {
  font-size: 3.5rem;
  line-height: 1;
}

.page-section:not(:last-child) {
  margin-bottom: 2rem;
}

.demo-page-divider {
  color: var(--theme-color__supporting-1);
  width: 100%;
  height: 0.5rem;
}

.section-page-divider {
  margin-top: var(--spacing-lg);
  margin-bottom: var(--spacing-lg);
}
