@import "./_variables.css";
@import "./_utilities.css";
@import "./_font.css";

body {
  background-color: hsla(211, 10%, 47%, 1.00);
}

.content-box {
  border-width: 0.2rem;
  border-style: dashed;
  border-color: aquamarine;
}


.page-section:not(:last-child) {
  margin-bottom: 2rem;
}

.divider-row {
  width: 100%;
  height: 0.5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
